@import "../../styles/base/_layout.pcss";
@import "../../styles/base/_typography.pcss";
@import '../../styles/helpers/_responsive-utilities.pcss';
@import "../../styles/base/_colors.pcss";

@b app {
  max-width: 1400px;
  margin: auto;
  padding: 0 10px;
  min-height: 800px;
}